<form class="form"
  [formGroup]="form"
  >
  <div class="total">
    <div class="total__tally">
      <span class="total__tally-number">
        {{tally.total}} / {{totalCountries}}&nbsp;
      </span>
      <span class="total__tally-words">
        possible countries selected.
      </span>
    </div>
    <div class="buttons">
      <app-button class="buttons__select-all"
        buttonStyle="secondary"
        buttonType="button"
        buttonText="Select all"
        (onClick)="onSelectAll()"
        >
        Clear all
      </app-button>
      <app-button class="buttons__clear-all"
        buttonStyle="secondary"
        buttonType="button"
        buttonText="Clear all"
        (onClick)="onClearAll()"
        >
        Clear all
      </app-button>
    </div>
  </div>
  <div class="regions">
    <app-region class="region"
			*ngFor="let region of regions"
			[region]="region"
			[form]="form"
			[tally]="tally"
      >
    </app-region>
  </div>
</form>
